 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');

*{
    font-family: 'DM Sans' , sans-serif;
    margin-top: 0;
}

body{
    background-color: rgb(30, 29, 29);
}

#left{
    margin-left: 80%;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
}

#right{
    width:fit-content;
    margin-right: 100%;
    margin-top: 0;
    
}

.account{
    position: absolute;
    right: 0;
}

p,h1{
    color: white;
}
h1{
    font-size: xx-large;
    font-weight: 900;
}

.first-3,.second-3,.final-6,.install{
    font-weight:bolder;
}
.app-logo{
    margin:0 0;
    border:0px 0px;
    border: 1px solid red;
    padding:0%;
}

.liked-songs{
    position: fixed;
}

.heart{
    position: relative;
    right: 60px;
    bottom: 25px;
}

section{
    display: flex;
    justify-content:baseline;
    align-content:flex-start;
}

.rectangle{
    height:fit-content;
    width: 6cm;
    border: 2px;
    border-collapse: separate;
    background-color: rgb(55, 53, 53);
}

.recommended-playlists{
    display: flex;
    justify-content: center;
    align-content:space-around;
}