 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');

*{
    font-family: 'DM Sans' , sans-serif;
    margin-top: 0;
}

body{
    background-color: rgb(30, 29, 29);
    margin: 0;
}

#left{
    margin-left: 80%;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

#right{
    width:fit-content;
    margin-top: 5vh;
    margin-left: 3vw;
}

.account{
    height: 60px;
    width: 160px;
    position: absolute;
    right: 0;
}

p,h1{
    color: white;
}
h1{
    font-size: xx-large;
    font-weight: 900;
}

.first-3,.second-3,.final-6,.install{
    font-weight:bolder;
    margin: 15px;
}

.first-3,.second-3,.install{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 150px;
    height: 50px;
}
.app-logo{
    height: 55px;
    width: 5cm;
    margin: 30px;
    padding:0%;
}

.logos{
    height: 30px;
    width: 30px;
}

.liked-songs{
    position: absolute;
}

.heart2{
    position: relative;
    right: 60px;
    top: 30px;
    height: fit-content;
}

.heart1{
    position:relative;
    right: 21px;
    top: 7px;
    height: 15px;
    width: 15px;
}

body{
    display: flex;
    justify-content:baseline;
    align-content:flex-start;
}

.rectangle{
    display: flex;
    height:80px;
    width: 200px;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(55, 53, 53);
}

.rectangle img{
    height: 80px;
}

.recommended-playlists{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
}

.top-arrow{
    height: 50px;
    width: 120px;
}

@media screen and (max-width: 900px) {

    body{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .recommended-playlists{
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-around;
        align-items: center;
    }

    .rectangle{
        display: flex;
        height: 80px;
        width: 100px;
        background-color: inherit;
    }

    #left{
        width:100vw;
        height: 10vh;
    }

    #right{
        margin-top: 0;
        margin-left: 0;
    }

    img{
        height: 7vh;
        width: 15vw;
    }

    .rectangle img{
        height: 45px;
        width: 45px;
    }

    .app-logo{
        height: 6vh;
        width: 20vw;
        margin: 0;
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .logos{
        height: 4vh;
        width: 6vw;
    }

    p{
        font-size: small;
        padding-left: 5%;
    }

    .heart2,.top-arrow,.account,.install,.first-3,.second-3,.final-6{
        display: none;
    }
}